html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

/* ----------------- */
header {
  flex: none;
  background-color:#d25c5c;
}

main {
  flex: auto;
  background-color:#d25c5c;
}

footer {
  flex: none;
  text-align:center;
  font-weight: bold;
  background-color:#d25c5c;
}

footer p{
  margin-bottom:0px;
  background-color: #b0e57c;
  border-top-right-radius: 50px 100px;
  border-top-left-radius: 50px 100px;
}
/* ----------------- */
@font-face {
    font-family: 'candy_shop_contour_personalRg';
    src: url('candy_font-webfont.woff2') format('woff2'),
         url('candy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logo span{
  font-size: 2em;
  color: #fd4a76;
  font-family: 'candy_shop_contour_personalRg';
}

.logo {
  background-color: #FFFFFF;
  padding: 15px;
  text-align:center;
}
.menu{
  text-align: center;
  padding: 20px;
  border-bottom-right-radius: 50px 100px;
  border-bottom-left-radius: 50px 100px;
  background-color: #ffbaba;
}
.menu a {
  margin: 8px;
  color: #acc1ff;
  font-weight: bold;
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 25px;
  text-decoration: none;
  display: inline;
}
.menu a:hover, .btn:hover{
  margin: 5px;
  color: #628aff;
  border: 3px solid #628aff;
}

/* Reponsive Mobile NavBar */
@media screen and (max-width: 600px) {
  .topnav a{
    display: none;
    float:right;
    margin-left:60%;
  }
  .topnav a.icon {
    display: inline;
    float:right;
  }
  .menu{
    text-align:right;
    float:right;
  }
  .topnav.responsive a {
    display:block;
  }
}

@media screen and (min-width: 599px) {
  .topnav a.icon {
    display:none;
  }
  .menu{
    text-align: center;
  }
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.partl, .partr{
  padding: 20px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.1);
}


/* fonts */
.fa-adr{
  font-size: 45px;
  /* color:#c30000; */
}
.fa-tel{
  font-size: 45px;
}
.fa-clock{
  font-size: 45px;
}
.mar p{
  margin:0px;
}
